{% extends 'Navbar/employernavbar.html' %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div>
        <br>
<h1 align="center">
      Employer Hompage
    <br>
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/index5.png' %}" height="555" class="d-block w-100" alt="...">
    </div>
         </div>
</h1>
    <h2 style="color: #000000">  </h2>
</div>
{% endblock %}
</body>
</html>