{% extends 'Navbar/jobseekernavbar.html' %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div>
    <div>

        <br>
<h1 align="center">
         Job Seeker Hompage
    <br>
             <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/index4.jpg' %}" height="555" class="d-block w-100" alt="...">
    </div>
         </div>
</h1>
    <h2 style="color: #000000">  </h2>

{% endblock %}
</body>
</html>